.blog-section {
  padding: 2rem 16rem;
  .blog-container {
    h1 {
      font-family: var(--title-font);
      color: var(#414141);
      font-size: 48px;
      margin-bottom: 2rem;
    }
    .blog-cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
