.cat-table {
  border: 1px solid rgba(224, 224, 224, 1);

  td {
    color: var(--text-color);
  }
}

.create-btn {
  background: var(--main-color);
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 0;
  width: 85%;
  margin: 20px;
  color: #fff;
  transition: 0.3s ease;

  &:hover {
    background: #902e00;
    transition: 0.3s ease;
  }
}
