.edit-container {
  img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  .blog-form {
    display: flex;
    flex-direction: column;

    .title-input {
      flex: 1;
      font-size: 25px;
      border: none;
      border-bottom: 1px solid var(--text-color);
      background: transparent;
      &:focus {
        outline: none;
      }
      &::placeholder {
        letter-spacing: 2px;
      }
    }

    .post-select {
      padding: 0.7rem 1rem;
      outline: none;
      cursor: pointer;
      appearance: none;
    }

    .publish-btn {
      background: var(--main-color);
      color: #fff;
      transition: 0.3s ease;

      &:hover {
        background: #902e00;
        transition: 0.3s ease;
      }
    }
  }
}

.jodit-status-bar {
  visibility: hidden;
}
