:root {
  --main-color: #d14201;
  --heading-color: #444444;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  letter-spacing: 1px;
}
