@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

:root {
  --main-color: #d14201;
  --heading-color: #444444;
  --text-color: #414141;
  --title-font: "Libre Baskerville", serif;
  --text-font: "Avenir Light", sans-serif;
  --bg: #f8f9fa;
}

a {
  color: inherit !important;
  text-decoration: none !important;

  &:hover {
    color: var(--main-color) !important;
  }
}

section {
  padding: 5rem 0;
}

.main-btn {
  display: flex;
  width: max-content;
  margin: auto;
  padding: 0.8rem 3rem;
  background: transparent;
  color: gray;
  border: 1px solid #000;
  transition: 0.3s ease;

  &:hover {
    background: #f0f0f0;
    transition: 0.3s ease;
  }
}

.back-btn {
  border: none;
  background: transparent;
  transition: 0.5s all ease;

  &:hover {
    color: var(--main-color);
    transition: 0.5s all ease;
  }

  span {
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main-color);
    transition: 0.5s all ease;

    &:hover {
      color: var(--text-color);
      transition: 0.5s all ease;
    }
  }
}

.category-tabs {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem 0 5rem 0;

  .category-tab {
    border: 1px solid var(--main-color);
    padding: 0.3rem 1rem;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
    &.active {
      background: var(--main-color);
      color: #fff;
    }

    &:hover {
      background: var(--main-color);
      color: #fff;
      transition: 0.2s ease;
    }
  }
}
