@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

:root {
  --main-color: #d14201;
  --heading-color: #444444;
  --text-color: #414141;
  --title-font: "Libre Baskerville", serif;
  --text-font: "Avenir Light", sans-serif;
  --bg: #f8f9fa;
}

a {
  color: inherit !important;
  text-decoration: none !important;

  &:hover {
    color: var(--main-color) !important;
  }
}

section {
  padding: 5rem 0;
}

.main-btn {
  display: flex;
  width: max-content;
  margin: auto;
  padding: 0.8rem 3rem;
  background: transparent;
  color: gray;
  border: 1px solid #000;
  transition: 0.3s ease;

  &:hover {
    background: #f0f0f0;
    transition: 0.3s ease;
  }
}
